<div id="servicos" style="color: white; " >
<br>
<br>
<br>
<div id="espaçamento" style="padding-left: 10%;">
<h2> Desenvolvimento de sistemas de informação</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px;  width: 50%; height: 280px; border-bottom: 30px solid tomato;">
BASLER está capacitada para a concepção e desenvolvimento de sistemas de informação de grande porte nas tecnologias Java Enterprise Edition e .NET Framework.<br> BASLER adquiriu recentemente conhecimentos na área de Business<br>Intelligence sobre a plataforma MicroStrategy, sendo neste momento capacitada para o desenho e desenvolvimento de sistemas de apoio a decisão.<br>
BASLER dedica-se também ao desenvolvimento de software a medida, seja recorrendo ao modelo cliente/servidor, sistemas distribuídos, aplicações, soluções informáticas, etc.<br> 
</div>
</div>
<br>
<br>
<br>
<div id="espaçamento" style="padding-right: 10%;">
<h2 align="right" style="padding-right: 10%;">Manutenção de Computadores</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px;  width: 50%;float:right; height: 200px;  border-bottom: 30px solid tomato;">
Formatação;
Remoção de Vírus;
Recuperação da Informação.
Troca e limpeza de periférico.
Formação in job em rede cisco
Acessórias em rede cisco a pedido do cliente.
<br>
Manutenção e Instalação de;
Impressoras (em rede e USB) e outros tipos de equipamentos;
Formatação de Sistema Operacional — Configurações;
Manutenção e montagem de micro computadors
</div>
</div>
<br>
<br>
<br>
<div id="espaçamento" style="padding-left: 10%;">
<h2>Conectividade</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px;  width: 30%; margin-right: 30px; height: 250px;  border-bottom: 30px solid tomato;">
Verificando-se a nível da tecnologia da informação o abandono dos grandes computadores (main frame) a favor das redes de computadores do tipo PC, fenómeno que se convencionou chamar down sizing, a BASLER viu-se na necessidade de se especializar na concepção, implementação e interligação de redes de computadores com diferentes arquitecturas, bem como a prestação de serviços Internet.<br>
</div>
</div>
<br>
<br>
<br>
<div id="espaçamento" style="padding-left: 5%;">
<h2>Serviços Internet/Intranet.</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px; width: 80%; margin-right: 30px; height: 400px;  border-bottom: 30px solid tomato;">
A Internet tem-se revelado como um dos desenvolvimentos mais poderosos no domínio das tecnologias da informação, informática e telecomunicações.<br>
<br>
No nosso país apesar do relativo atraso tecnológico a que estamos submetidos, a Internet tem conhecido constituído foco da atenção de todos os sectores da actividade nacional.<br>
<br>
BASLER está capacitada a oferecer um serviço completo no domínio das tecnologias associadas a Internet, orgulhando-se de poder oferecer ao público Angolano a possibilidade de poder dispor localmente de um serviço completo de soluções para Internet e/ou Intranet, com base na tecnologia Windows ou LINUX com destaque para:
<br>
Registo de nomes (domain name) na Internet<br>
Instalação e configuração dos Serviços para Provedor Internet, para acesso corporativo a Internet ou Intranet, usando tecnologia Windows, serviços que incluem a instalação e configuração das seguintes tecnologias:
Servidor de Resolução de Nomes DNS Serverquer para domínios internos como na Internet.
Servidor de Páginas e Transferência de Ficheiros (WWW+FTP).<br> 
Servidor de Correio Electrónico (serviços SMTP, POP, POP3)<br>
Segurança (firewall) e Cache de páginas web.<br>
Servidor de Acessos Remotos a Internet/Intranet.<br>

</div>
</div>
<br>
<br>
<br>
<div id="espaçamento" style="padding-right: 10%;">
<h2 align="right" style="padding-right: 5%;">Comunicações sem fios (Wireless)</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px; width: 50%; float:right; height: 400px;  border-bottom: 30px solid tomato;">
Não se pode falar de conectividade, Internet, Metropolitan Area Network (MAN), Wide Area Network (WAN), sem que se tenha em conta a respectiva componente de comunicações. A implementação deste tipo de serviços passa pelo estabelecimento de links de comunicações de dados entre redes locais (LAN’s) geograficamente dispersas constituído com ou sem acesso a Internet.<br>
<br>
Pretendendo por um lado oferecer uma alternativa ao serviço prestado pela Angola-Telecom e de outros provedores, e por outro procurando complementar esse serviço, a BASLER põe a disposição do público um serviço completo de<br>
comunicações com base em tecnologia sem fios, que vai desde a transmissão de dados, ao estabelecimento de redes<br> privadas de telefonia (tecnologia VOIP) com possibilidades de ligação a rede pública.<br>
Redes wireless indoor e outdoor:<br>
Sistemas ponto-a-ponto; proporcionando conectividade entre dois pontos específicos.<br>
Sistemas ponto-multi-ponto; normalmente usando uma base central de comunicações que interliga vários pontos remotos.
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="espaçamento" style="padding-left: 10%;">
<h2>Sistemas de recepção e emissão via satélite (Vsat e VipSat)</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px; width: 70%;height: 400px;  border-bottom: 30px solid tomato; ">
Em Angola, as distancias entre os nós de processamento informático podem implicar milhares de quilómetros, localidades em áreas onde não estão disponíveis as tecnologias necessárias para a conectividade.<br>   
Lá onde se torna inviável qualquer dos outros meios de comunicações, oferecemos links de comunicação via satélite garantindo assim a conectividade onde quer que seja necessário.<br>
<br>
Neste domínio oferecemos:<br>
Links VipSat – proporcionado o acesso a Internet com a largura de banda adequada.<br> Usando esta tecnologia é possível estabelecer uma ligação ponto a ponto estabelecendo redes privadas virtuais (VPN).<br>
<br>
Sistemas VSAT privados – constituindo redes privadas interligando vários pontos oferecendo a possibilidade de gestão própria.<br> Carateriza-se por anular a necessidade do “chanto duplo salto” na comunicação entre dois pontos específicos.<br>
</div> 
</div>  
<br>
<br>
<br>
<br>
<br>
<div id="aligment" style="padding-left: 50%;" >
<h2> Redes Locais de computadores, (LAN)</h2>
<div id="tabela" style="background-color: black; border-radius: 3px; width: 80%; height: 400px;  border-bottom: 30px solid tomato;">
Componente básica para a construção MAN's, WAN's ou acesso corporativo a Internet,<br> BASLER conta com uma larga experiência em: <br>
Desenho, montagem e manutenção de redes informáticas para intranets e internet: <br>
<br>
Estes serviços são prestados seguindo a risca o conjunto de standards TIA/EIA-568-B (ANSI/TIA/EIA-568-B.1-2001, -B.2-2001, e -B.3-2001) que definem como desenhar e implementar sistemas de cablagem estruturada.<br> 
<br>
Estes standards definem tipos de cabos, distancias, conectores, arquitecturas de cablagem estruturada, terminações<br> e características de performance, requisitos para a instalação e métodos para a testar a cablagem estruturada
 efectuado tanto para sistemas de par trançado (CAT6), como para sistemas de fibra óptica.<br>
<br>
Certificação e Classificação de redes com tecnologia Fluke. <br>
</div>
</div>
<br>
<br>
<br>
<div id="aligment" style="padding-left: 20%;" >
<h2>Redes metropolitanas (MAN) e alargadas (WAN)</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px; width: 80%; height: 300px; border-bottom: 30px solid tomato;">
As redes metropolitanas são formadas pela interligação de várias LAN's se estendem 	pelo mesmo perímetro urbano. A rede é considerada alargada quando interliga várias LAN's e/ou MAN's que situados em perímetros urbanos diferentes ou separadas por distâncias consideráveis (várias centenas ou mais de quilómetros).<br>
<br>
BASLER aconselha a opção de links privados implementados com tecnologia wireless para os links urbanos e a utilização de tecnologia VSAT para os links interurbanos.<br>
<br>
Cada LAN que se pretenda incorporar a MAN/WAN será servida por um Wireless Router (Roteador ou encaminhador de dados), responsável por garantir a ligação com as outras LAN/MAN/WAN.<br>
<br>
Opcionalmente, é possível adicionar dispositivos que permitem serviços de voz (VOIP) entre quaisquer pontos do Sistema.<br>Estes serviços de voz podem implementar redes telefónicas privadas que compreendam PBXs, Faxes e outras facilidades.<br>
</div>
</div>
<br>
<br>
<br>
<div id="aligment" style="padding-left: 10%;" >
<h2>Montagem de câmaras de segurança.</h2><br>
<div id="tabela" style="background-color: black; border-radius: 3px; width: 40%; height: 130px; border-bottom: 30px solid tomato;">
Buscando a redução de custos e qualidade nos serviços, BASLER atua com grande força na montagem e manutenção dos sistemas.<br>
</div>
</div>
<br>
<br>
<br>
<div id="aligment" style="padding-left: 10%;" >
<div id="tabela" style="background-color: black; border-radius: 500px solid white; width: 80%; border-left: 50%; border-bottom: 30px solid tomato;">
<h2>Instalação e Montagem de Sistemas Eléctricos.</h2><br>

Projectos de instalação e montagem de sistemas eléctricos.
<p> Instalações em baixa tensão.</p>

Montagem e manutenção de Instalações residenciais
Montagem e manutenção de Instalações comerciais
Montagem e manutenção de Instalações industriais
Montagem e manutenção de rede de iluminação pública
Montagem e manutenção de geradores
Montagem, reparação, configuração e manutenção de UPS


<strong> Instalações em média tensão </strong>
Montagem e manutenção de linhas de MT
Montagem e manutenção de PT
</div>
</div>
<br>
<br>
<br>
</div>
</div>
