	<%= stylesheet_link_tag    'contacts', media: 'all', 'data-turbolinks-track': 'reload' %>
<div>
	<% flash.each do  |key, value |%>
		<div class='alert alert-<%= key %>'>
		<%= value  %>	
		</div>
		<% end %>
</div>