<HTML>
<HEAD>
 <%= stylesheet_link_tag    'bemvindos', media: 'all', 'data-turbolinks-track': 'reload' %>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</HEAD>
<BODY>
<div id="filler">
<strong>Apostamos em pessoas, apostamos no futuro de Angola </strong>
</div>
<H1>
<div id="title">
BAS<br>
LER 
</div>

</H1>
</BODY>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</HTML>