  <script type="text/javascript">
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -8.839, lng: 13.289},
          zoom: 5
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7n6Gzb5I33aWaNGIP-bVbz9n1Q4nEkhM&callback=initMap"
    async defer></script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
         height: 100%;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
 
    <div id="map">
    </div>
        <div id="headline_1" style="float: right; padding-right: 20%;">
      <%= image_tag("support.png", :alt => "protector", :size => "270x280") %>
      </div>
         <h5 style="color: white; background-color: black; width: 35%; padding-left: 2%;"><strong> Endereço :</strong> <br>
      Complexo Habitacional da Samba, CR 5B - Bª. Maianga. <br></h5>
      <p style="color: white; background-color: black; width: 50%; align-content: center; padding-left: 2%;">Estamos aptos para actuar em Luanda como também no interior do país com funcionários bem treinados. Os nossos técnicos e colaboradores possuem assistência renovada por sua eficiência e capacidade de resolução de problemas de forma prática e rápida, através de uma equipe técnica altamente capacitada. Neste processo garantimos agilidade no atendimento e qualidade na execução dos trabalhos, como também sigilo dentro das nossas áreas de actuação.</p>
  