/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

head {

		background-color:   white;
	
	   font-family: 'Roboto', sans-serif;

}

body {

		background-color:   #17191b;
   font-family: 'Roboto', sans-serif;


}

.navbar-header {
padding-top: 4px;
}

.navbar-brand {
	color: white;
	  padding: 0px; /* firefox bug fix */
	  border-top: 30px;


}

.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}


.glyphicon {
	top: 15px;
	left: 1000px;
	color: white;

}

#contact-field {
	background-color: black;
	color: white;
	padding-bottom: 190px;
	border-top: 0.5px solid white;
	opacity:0.8;
}				

#contact-field table {
	top: 10px;
	color: white;
		font-size: 15px;
	width: 70%;

}

#contact-field th {
	font-size: 20px;
    font-family: 'Arbutus Slab', serif;
    color: grey;


}